.App {
  text-align: center;
}

/* html font-size */
html {
  font-size: 62%;
}
/* for all lists and boxs */
*,*::after,*::before{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

/* Change Body Color font size */
body {
  /* background-color: #c4b5fd; */
  font-size: 2rem;
}
